
// @import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/toasts';

@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/utilities/api';

.whole-container {
    display: grid;
    grid-template-rows: 60vh 1fr;
    grid-template-columns: 5fr 2fr;
    grid-gap: 16px;
    max-width: 800px;
    margin: 0px auto; 
    padding: 16px;
}

.chart-area {
    grid-column: 1 / 2;
    max-width: 600px;
}

.config-area {
    grid-column: 2 / 3;
    min-width: 140px;
}

.memo-area {
    grid-column: 1 / 3
}

.legendtoggle {
    cursor: move !important;
}

.ghost {
    opacity: .5;
    background: #C8EBF8;
}

